name = "{{WORKER_NAME}}"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[vars]
CLOUDFLARE_ACCOUNT_ID = "{{CLOUDFLARE_ACCOUNT_ID}}"

[[d1_databases]]
binding = "DB"
database_name = "{{DB_NAME}}"
database_id = "{{DB_ID}}"

[[kv_namespaces]]
binding = "KV"
id = "{{KV_ID}}"
